@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],input[type="password"], input[type="email"] {
    @apply w-full border my-2 py-2 px-3 rounded-full;
}

button{
<<<<<<< HEAD
    background-color: #ddd5ca;
    width: 100%;
    border-radius: 9999px;

}



=======
    @apply bg-orange-100 w-full rounded-full;
}

>>>>>>> 80139e0b4e61bd0b7d970f42a1c3f805ddf630f9
